[credential "https://dev.azure.com"]
	useHttpPath = true
[user]
	name = Veselin Hitrov
	email = veselin.hitrov@gmail.com
[github]
	user = bucaner0
[pager]
	branch = false
[pull]
	ff = true
[init]
	defaultBranch = main
[credential]
	helper =
	helper = /usr/local/share/gcm-core/git-credential-manager
[push]
	autoSetupRemote = true
[core]
	editor = code --wait
